html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
}

.content {
    background-color: #C4C4C4;
    height: 100%;
    flex: 1;
    padding: 1rem 2rem;
    position: relative;
}

.text {
    margin: 3rem 0 0;
}

.code {
    font-weight: bold;
}

.code span{
    color: #2400FF;
    font-style: italic;
}

.info {
    margin: 5rem 0;
}

.content input[type=text] {
    width: 100%;
    padding: .8rem 1.2rem;
    margin: .6rem 0;
    box-sizing: border-box;
    border: .15rem solid #e7e7e7;
    border-radius: .8rem;
    outline: none;
}

.content button {
    width: 10rem;
    background-color: #999999;
    border: none;
    color: #000;
    padding: .9rem 0;
    font-size: .8rem;
    cursor: pointer;
    display: block;
    margin: 1rem 0;
}

.buttons {
    margin: 0 2rem 5rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

.content .suivant {
    background-color: #bbb;
    color:#777;
}

.content .suivant2 {
    background-color: #999;
    color:#000;
}

.renderer {
    width: 100%;
    height: 100%;
    padding: 5rem 5rem 0;
    flex: 2;
    background-color: #fff;
}

.border {
    border: .1rem solid #000;
    width: 100%;
    height: 78%;
    border-radius: 1.5rem;
    box-shadow: inset .1rem .1rem 1rem .2rem #bdbdbd;
}

.border img {
    width: 13rem;
}

.imgContener {
    text-align: center;
    margin: 10rem 0 0;
}